/*** LEFT SECTION ***/
section.left {
}

section.left figure.profile-photo {
    position: relative;
    margin-bottom: 10px;
}

section.left figure img {
    width: 100%;
    border-radius: 9px;
}

.profile-text h1 {
    bottom: 10px;
    color: #ff2710;
}

.profile-text p {
    color: white;
}

.profile-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
}