nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    margin: 0 auto;
    padding: 15px;
}

nav ul li{
    display: inline;
    margin-left: 15px;
    cursor: pointer;
}