.job-titel h3,
.email-info h3,
.location-info h3 {
    margin: 0;
    font-weight: 500;
}

.job-titel,
.email-info,
.location-info {
    margin: 15px;
}

.email-info a {
    text-decoration: none;
    color: #424344;
}

.email-info a:hover {
    text-decoration: none;
    color: #255f7f;
}